$font-family: 'Raleway', sans-serif;
$font-size: 18px;

$clr-font-dark: #455a64;
$clr-font-light: #a9a9a9;
$clr-primary: #536074;
$clr-secondary: #D0E1DD;

$clr-primary-alt: #398045;
$clr-secondary-alt: #BFFFCA;
