header{
  background-color: $clr-primary;
}

nav{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;

  .btn{
    flex-grow: 1;
    height: 60px;

    &:last-child{
      margin-right: 0;
    }
  }
}