*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $clr-secondary;
  font-family: $font-family;
  font-size: $font-size;

  &.alt-style{
    background-color: $clr-secondary-alt;
  }
}

.hidden {
  display: none !important;
}

.page {
  display: grid;
  width: 100%;
  height: 100vh;
  min-height: 250px;
  grid-template-areas: "head head head"
                       "main main main"
                       "foot foot foot";

  grid-template-rows: 120px 4fr 1fr;
  //grid-template-columns: 100px 1fr 1fr;
}

.page > header {
  grid-area: head;
  background-color: $clr-primary;

  .app-title{
    text-align: center;
    font-size: 2.5rem;
  }

  .alt-style &{
    background-color: $clr-primary-alt;
  }
}

.page > main {
  grid-area: main;
  background-color: $clr-secondary;

  .alt-style &{
    background-color: $clr-secondary-alt;
  }
}

.page > footer {
  grid-area: foot;
  background-color: $clr-primary;

  .alt-style &{
    background-color: $clr-primary-alt;
  }
}


.btn{
  font-family: $font-family;
  font-size: $font-size;
  cursor: pointer;

  &.btn-icon{
    width: 24px;
    height: 24px;

    border: none;
    background-color: transparent;
    color: $clr-font-dark;
    transition: all 0.2s;
    z-index: 1;

    &:hover{
      background-color: $clr-primary;
      color: $clr-font-light;
    }

    @include mobile{
      width: 32px;
      height: 32px;
    }

  }

  &-delete{
    background: url("../../images/icons/round-delete-24px.svg") 100% / contain no-repeat;
  }

  &-edit{
    background: url("../../images/icons/round-edit-24px.svg") 100% / contain no-repeat;
  }

  &-check{

  }

  &.btn-default{
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-align: center;
    transition: all 0.2s;

    &:hover{
      color:#000000;
      background-color:#FFFFFF;
    }
  }
}





