* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #D0E1DD;
  font-family: 'Raleway', sans-serif; }

.hidden {
  display: none !important; }

.page {
  display: grid;
  width: 100%;
  height: 100vh;
  min-height: 250px;
  grid-template-areas: "head head head" "main main main" "foot foot foot";
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 100px 1fr 1fr; }

.page > header {
  grid-area: head;
  background-color: #536074; }
  .alt-style .page > header {
    background-color: #E36074; }

.page > main {
  grid-area: main;
  background-color: #D0E1DD; }
  .alt-style .page > main {
    background-color: #20E1DD; }

.page > footer {
  grid-area: foot;
  background-color: #536074; }
  .alt-style .page > footer {
    background-color: #E36074; }

.js-user input {
  display: block; }

button.btn-default {
  transition: all 0.2s; }

button.btn-icon {
  border: none;
  background-color: transparent;
  z-index: 2; }
  button.btn-icon i {
    border-radius: 50%;
    background-color: #D0E1DD;
    color: #455a64;
    transition: all 0.2s;
    z-index: 1; }
    button.btn-icon i:hover {
      background-color: #536074;
      color: #a9a9a9; }

button.btn-default {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  color: #FFFFFF;
  text-align: center; }

button.btn-default:hover {
  color: #000000;
  background-color: #FFFFFF; }

#list-container {
  display: flex;
  flex-direction: column; }

.create-view {
  position: fixed;
  bottom: 0;
  margin: 0 auto; }

.create-form__importance input {
  display: inline-block; }

#list-container {
  display: flex;
  flex-direction: column; }

.list-item {
  display: flex; }
  .list-item__title {
    flex-basis: 30%; }
  .list-item__description {
    flex-basis: 40%; }
  .list-item__importance {
    flex-basis: 5%; }
  .list-item__duedate {
    flex-basis: 15%; }
  .list-item__btn-wrapper {
    flex-basis: 10%;
    display: flex;
    justify-content: space-around; }

footer {
  background-color: #536074; }

header {
  background-color: #536074; }
